
{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": "off",
        "operator-linebreak": "off",
        "quotes":"off",
        "react/button-has-type":"off",
        "prefer-const": "off",
        "arrow-body-style": "off",
        "import/prefer-default-export": "off",
        "no-use-before-define":"off",
        "no-console":"warn",
        "prefer-template": "warn",
        "no-tabs":"off",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "export",
                "next": "export"
            }
        ]
    },
    "env": {
        "jest": true
    }
}