
{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": "off",
        "operator-linebreak": "off",
        "quotes":"off",
        "react/button-has-type":"off",
        "prefer-const": "off",
        "arrow-body-style": "off",
        "import/prefer-default-export": "off",
        "no-use-before-define":"off",
        "no-console":"warn",
        "prefer-template": "warn"
    },
    "env": {
        "jest": true
    }
}