.square {
  height: 100px;
  width: 100px;
  font-family: "Brush Script MT";
  border: 2px solid black;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-th,
.grid-td {
  display: flex;
}
.grid-td {
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.button-row {
  margin-bottom: 20px;
}

button {
  background-color: rgba(103, 147, 212, 0.767);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 4px 2px;
  padding: 5px 8px;
  font-size: 16px;
  box-shadow: 0 3px #999;
  outline: none;
}

button:hover {
  background-color: #2e3380;
}

.not-display {
  display: none;
}
#title {
  display: flex;
  align-items: center;
}

.table-row {
  display: flex;
}
.data-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.data-td,
.data-th {
  font-size: 15px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.data-tr:nth-child(even) {
  background-color: #dddddd;
}

#get-button {
  max-width: 200px;
}
